./unsw
./comp9417
./cuda/
*.p
*.pt
*.pth
*.pyc
PROJECTS/ocr/data/
**/data/
**/train/
**/test/
**/valid/
**/.ipynb_checkpoints/
 
*.tar
*.gz
*.zip
./anaconda_projects/
**/temp/
/learning/d2l.ai/zlls/img/
/learning/d2l.ai/zlls/static/
